#!/bin/bash
exec 2>&1
exec setuidgid {{ steam_user_name }} \
    {{ steamcmd_install_directory }}/srcds_run \
        -game csgo \
        +autoupdate \
        +ip 0.0.0.0 \
        -console \
    >> {{ steam_server_log_path }}
